{%extends "basic/base.html"%}

{% block content %}

	    <table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Greetings from Wholdus.com
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>
        				You have successfully registered at Wholdus.</br>
        				Now you can distribute your products across India.</br>
        				Your account will be managed by Mr. Manish Yadav.
        			</p>
        		</td>
    		</tr>
      	</table>

      	<table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Step 1
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>
        				You can login to your account with {{email}} as username and {{password}} as password.
        			</p>
        		</td>
    		</tr>
      	</table>


      	<table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Step 2
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>
        				When your account manager contacts you, give your product details with Wholdus bulk product upload sheet which will be sent to you.
        			</p>
        		</td>
    		</tr>
      	</table>

      	<table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Step 3
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>
        				Please go through the official terms and conditions document attached with this mail.
        			</p>
        		</td>
    		</tr>
      	</table>

      	<table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Step 4
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>
        				You can manage the following from your panel which you can access by logging in:</br>
        				1. New and in transit orders.</br>
        				2. Product catalog</br>
        				3. Payments </br>
        				4. Basic account details</br>
        			</p>
        		</td>
    		</tr>
      	</table>
      
{% endblock %}