Django==1.9.5
django-cors-headers==1.1.0
MySQL-python==1.2.5
Pillow==3.2.0
PyJWT==1.4.0
django-ses==0.7.1
django-smtp-ssl==1.0
boto==2.1.0
fabric==1.11.1
pdfkit==0.5.0
wkhtmltopdf
numpy==1.11.0
pandas==0.18.1
python_dateutil==2.5.3
pytz==2016.4