<!DOCTYPE html>
<html>
<head>
</head>

<body style="max-width: 600px;font-family:sans-serif; border:solid #DEDEDE 1px; color: #212121; background-color: #ffffff">

<table style="background-color:#BD2026; color:#FFFFFF;width:100%">
    <tr>
        <td style="padding:5px;padding-left:10px">
            <img style="width: 64px" src="http://www.wholdus.com/images/logo/wholdus_logo_white.png">
        </td>
        <td style="width:55%; font-size:150%; ">
            <span style="margin-left: 10px">Wholdus</span>
        </td>
        <td style="font-size:100%;text-align:center;padding-right: 15px;">
            Making Business Easy!
        </td>
    </tr>
</table>


<table style="width:100%;padding:0px 5px;text-align: center;">
    <tr>
        <td>
            <div style="font-size:110%; margin-left: 100px; margin-right: 100px">
                <p>
                    <strong>Buy stocks at manufacturer prices!</br> Delivered straight to your shop!</strong>
                </p>
            </div>
            <table style="width: 100%;margin-top: 30px">
                <tr>
                    <td width="33%">
                        <img style="height: 200px" src="http://api.wholdus.com/media/productimages/133/20161107070526/300x300/ladybond-digital-printed-american-crepe-kurti-lb093-1.jpg">
                    </td>
                    <td width="33%">
                        <img style="height: 200px" src="http://api.wholdus.com/media/productimages/85/20160923142125/300x300/hitansh-online-black-red-georgette-crepe-embroidered-saree-with-unstitched-blouse-piece-hivl3-63024-1.jpg">
                    </td>
                    <td width="33%">
                        <img style="height: 200px" src="http://api.wholdus.com/media/productimages/146/20170206101746/300x300/fbbic-green-crepe-top-with-black-ribbon-18177-1.jpg">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Kurtis from </br><strong>Rs. 150/- </strong>only</p>
                    </td>
                    <td>
                        <p>Sarees from </br><strong>Rs. 250/- </strong>only</p>
                    </td>
                    <td>
                        <p>Western tops from </br><strong>Rs. 150/- </strong>only</p>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px; margin-bottom: 20px">
                <a href="https://x9468.app.goo.gl/JELZ" style="width:50%; background-color:#BD2026;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #ffffff;display:inline-block;
                cursor:pointer;color:#ffffff;font-size:17px;padding:15px 31px;text-decoration:none;text-shadow:0px 1px 0px #ffffff;">
                    Download Wholdus App
                </a>
            </div>
            <div style="font-size:110%; margin-left: 100px; margin-right: 100px">
                <p>
                    <strong>Get the latest products straight from manufacturers in Jaipur & Surat!</strong></br>
                    <strong>More than 20000 designs available!</strong>
                </p>
            </div>
            <table style="width: 100%;margin-top: 30px">
                <tr>
                    <td width="33%">
                        <img style="height: 70px" src="http://www.baleyo.com/media/wysiwyg/cod_logo.jpg">
                    </td>
                    <td width="33%">
                        <img style="height: 70px" src="http://www.colourblocker.com.au/assets/images/Easyreturns_Header.png">
                    </td>
                    <td width="33%">
                        <img style="height: 70px" src="https://www.teeuplo.co.uk/www-teeuplo/files/www-teeuplo/images/logo-discount-special-offer.jpg">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>Cash on Delivery!</strong></p>
                    </td>
                    <td>
                        <p><strong>Easy returns!</strong></p>
                    </td>
                    <td>
                        <p><strong>5% discount on first order!</strong></p>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 10px; margin-bottom: 10px">
                <a href="https://x9468.app.goo.gl/JELZ" style="width:50%; background-color:#BD2026;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #ffffff;display:inline-block;
                cursor:pointer;color:#ffffff;font-size:17px;padding:15px 31px;text-decoration:none;text-shadow:0px 1px 0px #ffffff;">
                    Download Wholdus App
                </a>
            </div>
            <div style="margin-top: 30px">
                <img style="width: 100%" src="http://retail.franchiseindia.com/article/images/uploads/1453285764_Indianink_Jaipur%20Store3.JPG">
            </div>
        </td>
    </tr>
</table>

<table style="width:100%;background-color:#BD2026;height: 7px;">
    <tr>
        <td>
        </td>
    </tr>
</table>

<table style=" font-size:100%; width:100%;text-align: center;padding: 0px 20px">
    <tr>
        <td>
            <p>
                <b>PROBZIP Business Solutions PVT. LTD.</b>
            </p>
            <p>
                <b>Address:</b> C1/34, Ardee City</br>
                Gurgaon-122003
            </p>
            <p>
        		<a href="http://www.wholdus.com">
        			www.wholdus.com
        		</a>
            </p>
            <p>
                <b>You can call us on:</b></br>
                +91 8586822777</br>
                +91 8791947227</br>
                +91 7895161705
            </p>
            <p>
                <b>Drop us a mail at:</b> support@wholdus.com
            </p>
            <p>
                <a href="http://www.facebook.com/wholdus"><img
                        src="http://www.mail-signatures.com/articles/wp-content/uploads/2014/08/facebook.png"
                        style="width: 35px;margin-right: 5px;"></a>
                <a href="https://plus.google.com/b/116373011527867126882/116373011527867126882/about?hl=en&pageId=116373011527867126882"><img
                        src="http://www.mail-signatures.com/articles/wp-content/uploads/2014/08/googleplus-2.png"
                        style="width: 35px;margin-right: 5px;"></a>
                <a href="https://www.linkedin.com/company/wholdus.com"><img
                        src="http://www.mail-signatures.com/articles/wp-content/uploads/2014/08/linkedin.png"
                        style="width: 35px;margin-right: 5px;"></a>
                <a href="https://twitter.com/wholdus"><img
                        src="http://www.mail-signatures.com/articles/wp-content/uploads/2014/08/twitter.png"
                        style="width: 35px;margin-right: 5px;"></a>
                <a href="https://www.youtube.com/channel/UCYyrESMJLLvCiKDmyaL03Ig"><img
                        src="http://www.mail-signatures.com/articles/wp-content/uploads/2014/08/youtube.png"
                        style="width: 35px;margin-right: 5px;"></a>
                <a href="https://www.instagram.com/wholdus/?hl=en"><img
                        src="http://www.mail-signatures.com/articles/wp-content/uploads/2014/08/instagram.png"
                        style="width: 35px;margin-right: 5px;"></a>

            </p>

            <p>
                If you would prefer not receiving our e-mails, please click
                <a href="{{ unsubscribe_link }}"><strong>here</strong></a>
            </p>
        </td>
    </tr>
</table>

<table style="width:100%;background-color:#BD2026;height: 7px;">
    <tr>
        <td>
        </td>
    </tr>
</table>

</body>
</html>