{%extends "basic/base.html"%}

{% block content %}

	    <table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Greetings from Wholdus.com
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>Thank you for showing interest in our products <strong>{{name}}</strong>!</br></p>
                    {% if product_name|length > 0 %}
                        <p> You have contacted us for <a href="{{product_link}}"><strong>{{ product_name }}.</strong></a></p>
                        <p><img style="max-width:400px;" src="{{image_link}}"></p>
                    {% else %}
                    {% endif %}
                    {% if category_name|length > 0 %}
                        <p> You have contacted us for <strong>{{ category_name }}.</strong></p>
                    {% else %}
                    {% endif %}
        			<p>We will get back to you soon
                    {% if mobile_number|length > 0 %}
                        on your phone number <strong>{{mobile_number}}</strong>
                    {% else %}
                    {% endif %}
                    .</br></p>
                    <p>You can also call or Whatsapp us at <strong>8800971126</strong> (Mr. Manish Yadav)</p>
        		</td>
    		</tr>
      	</table>
      
{% endblock %}