{%extends "basic/base.html"%}

{% block content %}

	    <table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px">
    	    <tr>
        		<td style="background-color:#512da8;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
          			Greetings from Wholdus.com
          		</td>
        	</tr>
        	<tr>
        		<td style="background-color: #FFFFFF;padding: 0px 25px;">
        			<p>Thank you for contacting us!</br></p>
        			<p>We will get back to you soon.</br></p>
                    <p>You can call also call or Whatsapp us at <strong>8586822777</strong> (Mr. Manish Yadav)</p>
        		</td>
    		</tr>
      	</table>
      
{% endblock %}