<table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px;background-color: #FFFFFF">
	<tr>
      <td style="background-color:#512da8   ;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
        {% if suborder.summary_title|length > 0 %}
          {{suborder.summary_title}}
        {% else %}
          Order Details
        {% endif %}
    </td>
</tr>

<tr>
  <td>
    <table style="width:100%;vertical-align:center;text-align:center;padding: 0px 15px;">
      <tr>
        <td>
            <p><strong>Order ID</strong><font size=3> : {{suborder.suborderNumber}} </font> </br></p>
            <p><strong>Products</strong><font size=4> : {{suborder.product_count}} </font> </br></p>
            <p><strong>Total Pieces</strong><font size=4> : {{suborder.pieces}} </font> </br></p>
            <p><strong>Total Price</strong><font size=4> : {{suborder.final_price}} Rs. </font></p>
            <p>
              Check complete details at
              <a href="http://seller.wholdus.com/my-orders">
                www.seller.wholdus.com/my-orders
              </a>
            </p>
        </td>
    </tr>
</table>
</td>
</tr>
</table>