
  <table style="width:100%;text-align:center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 10px;background-color: #FFFFFF">

    <tr>
      <td style="background-color:#512da8   ;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
        Order Details
      </td>
    </tr>

    <tr>
      <td>
        <table style="width:100%;vertical-align:center;text-align:center;padding: 8px 15px;">
          <tr>
            <td>
                <p><strong>Order ID</strong><font size=3> : {{suborder.suborderNumber}} </font> </br></p>
                <p><strong>Product Count</strong><font size=4> : {{suborder.product_count}} </font> </br></p>
                <p><strong>Total Price</strong><font size=4> : {{suborder.final_price}} Rs. </font></p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td style="background-color:#512da8   ;color:#FFFFFF;font-size:20px;padding: 8px 15px;">
        Order Items
      </td>
    </tr>

    {% for orderItem in orderItems %}

    <tr>
      <td>

        <table style="width:100%">

          <tr>
            <td>
              <table style="width:100%;color:#512da8">
                <td><div style="background-color:#512da8;height:1px"></div></td>
                <td style="text-align:center;width:50px;"><strong>{{ forloop.counter }}</strong></td> 
                <td><div style="background-color:#512da8;height:1px"></div></td>  
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table style="width:100%">
                <tr align="center">
                  <td>
                    <img src="{{orderItem.image_link}}">
                  </td>
                  <td style="width:100%;vertical-align:center">
                    <table style="text-align:center">
                      <tr>
                        <td>
                            <p><strong>Product Name</strong> : {{orderItem.name}} </br></p>
                            <p><strong>Catalog Number</strong> : {{orderItem.catalog_number}} </br></p>
                            <p><strong>Pieces ordered</strong> : <font size="4">{{orderItem.pieces}}</font></br></p>
                            <p><strong>Price per piece</strong> : <font size="4">{{orderItem.price_per_piece}} Rs.</font> </br></p>
                            <p><strong>Final price</strong> : <font size="4">{{orderItem.final_price}} Rs.</font></p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

            </td>
          </tr>

        </table>

      </td>
    </tr>

    {% endfor %}

  </table>